body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
}

a {
 text-decoration: none;
}

.main-header {
  background-color: #f3f7f8;
}

.header-top-part {
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
}

.header-logo {
  display: block;
  width: 220px;
  height: 47px;
  padding-top: auto;
  padding-bottom: auto;


  background-color: #ee3643;
  color: #ffffff;
  box-shadow: inset 0 -5px 0 0 #b52933;

  text-align: center;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 24px;
  line-height: 47px;
  text-transform: uppercase;
}

.header-logo:focus,
.header-logo:hover {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 0 #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: inset 0 -5px 0 0 #8e1e26;
}

.main-title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.our-address {
  width: 270px;
  font-size: 21px;
  line-height: 21px;
  color: #32425c;
  font-style: normal;
}

.our-address a + p {
  text-align: center;
  margin-top: 5px;
}

.our-address::before {
  content: url(/img/icon-phone.svg);
  position: relative;
  top: 36px;
  left: 15px;
}

.our-address a{
  display: table-cell;
  width: 264px;
  height: 39px;
  border: 3px solid #ffffff;

  vertical-align: middle;

  color: #ee3643;
  background-color: #f3f7f8;
}

.our-address span {
  margin-left: 71px;
}

.our-address p {
  font-size: 14px;
  line-height: 24px;
}

.search-form {
  width: 270px;
  height: 42px;
}

.search-form input {
  width: 100%;
  height: 100%;
  
  vertical-align: middle;

  background-color: #293449;
  color: #000000;
}

.search-form svg {
  position: relative;
  width: 17px;
  height: 17px;
  bottom: 29px;
  left: 17px;
}

.search-form path {
  fill: #6a7180;
}

.search-form input {
  background-color: #293449;
  border: none; 
  text-indent: 49px;
}

.search-form input::placeholder {
  color: #ffffff;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:hover + svg path {
    fill: #ffffff;
}

.search-form input:focus {
  background-color: #ffffff;
}

.search-form input:focus + svg path {
    fill: #ee3643;
}

.header-top-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-top-menu li {
  width: 150px;
  height: 42px;
}

.header-top-menu a{
  display: block;
  padding-left: 44px;

  line-height: 42px;

  background-color: #293449;
  color: #ffffff;
}

.header-top-menu svg {
  position: relative;
  bottom: 29px;
  left: 17px;
}

.header-top-menu path {
  fill: #6a7180;
}

.header-top-menu a:hover,
.header-top-menu a:focus {
  background-color: #212a3a;
}

.header-top-menu a:hover + svg path,
.header-top-menu a:hover + svg circle,
.header-top-menu a:hover + svg polygon,
.header-top-menu a:focus + svg path,
.header-top-menu a:focus + svg circle,
.header-top-menu a:focus + svg polygon {
  fill: #ffffff;
}

.header-top-menu a:active {
  background-color: #161d29;
  color: #a2a5a9;
}

.header-top-menu a:active + svg path,
.header-top-menu a:active + svg circle,
.header-top-menu a:active + svg polygon {
  fill: #8b8e94;
}

.order-button a {
  width: 150px;
  padding: 0;

  background-color: #63a63e;
  text-align: center;
}

.order-button a:hover,
.order-button a:focus {
  background-color: #5fbb2d;
}

.order-button a:active {
  background-color: #518534;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}