/*Общие стили*/

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
}

a {
 text-decoration: none;
}

.main-header {
  background-color: #f3f7f8;
}

.header-top-part {
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
}

.button-red {
  display: block;

  border-radius: 5px;
  background-color: #ee3643;
  color: white;

  text-transform: uppercase;
  text-align: center;
}

.button-red:hover,
.button-red-focus {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Стили для хедера*/

.header-logo {
  display: block;
  width: 220px;
  height: 47px;
  padding-top: auto;
  padding-bottom: auto;


  background-color: #ee3643;
  color: #ffffff;
  box-shadow: inset 0 -5px 0 0 #b52933;

  text-align: center;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 24px;
  line-height: 47px;
  text-transform: uppercase;
}

.header-logo:focus,
.header-logo:hover {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 0 #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: inset 0 -5px 0 0 #8e1e26;
}

.main-title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.our-address {
  width: 270px;
  font-size: 21px;
  line-height: 21px;
  color: #32425c;
  font-style: normal;
}

.our-address a + p {
  text-align: center;
  margin-top: 5px;
}

.our-address::before {
  content: url(/img/icon-phone.svg);
  position: relative;
  top: 36px;
  left: 15px;
}

.our-address a{
  display: table-cell;
  width: 264px;
  height: 39px;
  border: 3px solid #ffffff;

  vertical-align: middle;

  color: #ee3643;
  background-color: #f3f7f8;
}

.our-address span {
  margin-left: 71px;
}

.our-address p {
  font-size: 14px;
  line-height: 24px;
}

.search-form {
  width: 270px;
  height: 42px;
}

.search-form input {
  width: 100%;
  height: 100%;
  
  vertical-align: middle;

  background-color: #293449;
  color: #000000;
}

.search-form svg {
  position: relative;
  width: 17px;
  height: 17px;
  bottom: 29px;
  left: 17px;
}

.search-form path {
  fill: #6a7180;
}

.search-form input {
  background-color: #293449;
  border: none; 
  text-indent: 49px;
}

.search-form input::placeholder {
  color: #ffffff;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:hover + svg path {
    fill: #ffffff;
}

.search-form input:focus {
  background-color: #ffffff;
}

.search-form input:focus + svg path {
    fill: #ee3643;
}

.header-top-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-top-menu li {
  width: 150px;
  height: 42px;
}

.header-top-menu a{
  display: block;
  padding-left: 44px;

  line-height: 42px;

  background-color: #293449;
  color: #ffffff;
}

.header-top-menu svg {
  position: relative;
  bottom: 29px;
  left: 17px;
}

.header-top-menu path {
  fill: #6a7180;
}

.header-top-menu a:hover,
.header-top-menu a:focus {
  background-color: #212a3a;
}

.header-top-menu a:hover + svg path,
.header-top-menu a:hover + svg circle,
.header-top-menu a:hover + svg polygon,
.header-top-menu a:focus + svg path,
.header-top-menu a:focus + svg circle,
.header-top-menu a:focus + svg polygon {
  fill: #ffffff;
}

.header-top-menu a:active {
  background-color: #161d29;
  color: #a2a5a9;
}

.header-top-menu a:active + svg path,
.header-top-menu a:active + svg circle,
.header-top-menu a:active + svg polygon {
  fill: #8b8e94;
}

.order-button a {
  width: 150px;
  padding: 0;

  background-color: #63a63e;
  text-align: center;
}

.order-button a:hover,
.order-button a:focus {
  background-color: #5fbb2d;
}

.order-button a:active {
  background-color: #518534;
}

.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation li {
  height: 45px;

  font-size: 21px;
  line-height: 45px;
}

.user-navigation a {
  display: block;
  
  color: #000000;
  background-color: #ffffff;
}

.login {
  width: 121px;
}

.login a {
  padding-left: 48px;
}

.registration {
  width: 150px;
  text-align: center;
}

.login svg {
  position: relative;
  bottom: 43px;
  left: 14px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.login a:hover + svg polygon,
.login a:hover + svg path,
.login a:focus + svg polygon,
.login a:focus + svg path {
  fill: #32425c;
}

.user-navigation a:active {
  color: #c5c5c5;
}

.login a:active + svg polygon,
.login a:active + svg path {
  fill: #c5c5c5;
}

.main-navigation {
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-list li {
  width: 127px;
  height: 60px;

  font-size: 17px;
  line-height: 60px;
  text-align: center;
}

.navigation-list a {
  display: block;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
  color: #ffffff;
}

.navigation-list a:hover,
.navigation-list a:focus {
  background-color: #293449;
}

.navigation-list a:active {
  background-color: #1d2739;
  box-shadow: inset 0 -5px 0 0 #1d2739;
}

/*Стили для основного содержания*/

/*Услуги промо блока*/

.promo-item {
  position: relative;
  width: 300px;
  height: 123px;
  padding-bottom: 23px;

  font-size: 14px;
  line-height: 18px;

  background-color: black;
}

.promo-item h3 {
  display: inline-block;
  margin-left: 23px;
  margin-top: 23px;
  vertical-align: top;

  font-size: 24px;
  line-height: 30px; 

  color: #ffffff;
}

.promo-item a {
  display: block;
  width: 135px;
  height: 38px;
  margin-left: 25px;

  line-height: 38px;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;

  border-radius: 5px;
}

.promo-item a:hover,
.promo-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
}

.materials::after {
  content: '';
  
  position: absolute;
  width: 44px;
  height: 65px;
  right: 43px;
  bottom: 29px;
  
  background-image: url(/img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tools {
  background-color: #3bbce3;
}

.tools::after {
  content: '';
  
  position: absolute;
  width: 75px;
  height: 61px;
  right: 28px;
  bottom: 29px;
  
  background-image: url(/img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tech {
  background-color: #dc91d8;
}

.tech::after {
  content: '';
  
  position: absolute;
  width: 78px;
  height: 62px;
  right: 31px;
  bottom: 30px;
  
  background-image: url(/img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.discounts {
  background-color: #8ed78f;
}

.discounts::after {
  content: '';
  
  position: absolute;
  width: 59px;
  height: 72px;
  right: 45px;
  bottom: 25px;
  
  background-image: url(/img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.delivery {
  background-color: #ffc047;
}

.delivery::after {
  content: '';
  
  position: absolute;
  width: 78px;
  height: 63px;
  right: 31px;
  bottom: 28px;
  
  background-image: url(/img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*Слайдер*/

.promo-slider {
  position: relative;

  width: 620px;
  height: 266px;
}

.promo-slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 595px;
  height: 239px;
  padding-left: 25px;
  padding-top: 27px;

  background-color: black;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: white;
}

.slide-first {
  display: none;
  background-image: url(/img/slide-1.jpg);
}

.slide-second {
  display: block;
  background-image: url(/img/slide-2.jpg);
}

.slide h3 {
  margin: 0;

  font-size: 36px;
  text-transform: uppercase
}

.slide p {
  margin: 8px 0 0 0;

  font-size: 18px;
}

.slide a {
  position: absolute;
  left: 25px;
  bottom: 22px;

  width: 195px;
  height: 38px;

  z-index: 5;

  font-size: 14px;
  line-height: 38px;
}

.slider-button {
  position: absolute;
  bottom: 112px;

  border: none;
  background: none;
}

.prefious-slide {
  left: 25px;
}

.next-slide{
  right: 25px;
}

.slider-pagination {
  position: absolute;
  bottom: 36px;

  width: 100%;
  height: 10px;

  text-align: center;
}
.pg-button {
  display: inline-block;
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0;

  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
}

.pg-second {
  background-color: #ee3643;
}

/*Конец стилей слайдера*/

.content-header {
  position: relative;
  width: 940px;
  height: 89px;

  line-height: 89px;

  background-color: #f9f5f0;
}

.content-header h2 {
  display: inline;
  margin-left: 30px;

  font-size: 30px;
 
  text-transform: uppercase;
  vertical-align: middle;

  color: #32425c;
}

.content-header a {
  position: absolute;
  display: block;
  right: 24px;
  bottom: 26px;
  width: 253px;
  height: 38px;
  
  font-size: 14px;
  text-transform: uppercase;
  line-height: 38px;
}

.goods-list {
  display: flex;
  justify-content: space-between;

  padding: 20px 0;
  margin: 0;

  list-style: none;
}

.goods-item {
  position: relative;
  display:block;
  width: 218px;
  height: 134px;
  padding-top: 182px;

  font-family: "PT Sans Narrow", Arial, sans-serif;

  text-align: center;
  border: 1px solid #eaeaea;
}

.goods-item img {
  position: absolute;
  top: -45px;
  left: -42px;
}

.goods-item h3 {
  margin: 0;
  margin-bottom: 10px;
}

.goods-item span {
  display: block;
  
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.old-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.new-price {
  position: absolute;
  width: 83px;
  height: 38px;
  left: 42px;
  bottom: 20px;
  padding-left: 38px;

  line-height: 38px;
  text-align: left;

  background-color: #ee3643;
  color: white;
  border-radius: 5px 0 0 5px;

}

.goods-item::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  bottom: 20px;
  right: 17px;
  border: 19px solid black;
  border-left-color: #ee3643;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.purchases-window {
  position: absolute;
  width: 135px;
  height: 83px;
  top: 45px;
  left: 42px;
}

.purchases-button {
  display: block;
  width: 135px;
  height: 38px;

  font-size: 14px;
  text-transform: uppercase;

  border-radius: 5px;
}

.buy-button {
  margin-bottom: 7px;
  
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 38px;
  
  background-color: #63a63e;
  box-shadow: inset 0 -5px 0 0 #367315;
  color: white;
}

.bookmarks-button {
  width: 129px;
  height: 32px;
  border: 3px solid #63a63e;

  line-height: 32px;

  background-color: white;
  color: #32425c;
}

.goods-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods-item:hover img {
  display: none;
}

.buy-button:focus ~ img,
.bookmarks-button:focus ~ img {
  display: none;
}

.purchases-window svg {
  position: absolute;
  top: 11px;
  left: 12px;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
}

.buy-button:hover + svg circle,
.buy-button:hover + svg polygon,
.buy-button:focus + svg circle,
.buy-button:focus + svg polygon {
  fill: white;
}

.buy-button:active + svg circle,
.buy-button:active + svg polygon {
  fill: white;
}

.buy-button:active {
  background-color: #518534;
}

.bookmarks-button:hover,
.bookmarks-button:focus {
  border-color: #32425c;
  color: #32425c;
}

.bookmarks-button:active {
  border-color: #c1c6ce;
  color: #c1c6ce;
}

.new-flag::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 59px;

  z-index: 5;

  background-image: url(/img/new-flag.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.manufacturers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  width: 940px;
  margin: 10px 0;
  
}

.manufacturers a {
  position: relative;
  
  width: 220px;
  height: 143px;
  margin: 10px 0;

  border: 1px solid #eaeaea;
}

.manufacturers img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.manufacturers a:hover,
.manufacturers a:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers a:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.manufacturers a:active img {
  z-index: -1;
}

.services {
  display: flex;
  justify-content: center;
  width: 100vw;

  background-color: #f5f8fa;
}

.services-block {
  position: relative;
  width: 940px;
  height: 522px;
  padding: 65px 130px 0 130px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  word-wrap: break-word;
}

.services ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.services header {
  width: 420px;
  margin-bottom: 75px;  
}

.services h3 {
  margin-top: 0;
}

.services p {
  margin-bottom: 0;
}

.services header h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase
}

.services-control {
  position: absolute;
  bottom: 98px;
  left: 130px;
}

.services-control li {
  width: 218px;
  height: 62px;  
}

.services-control label {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 22px;

  font-size: 21px;
  line-height: 62px;
  text-align: left;
  
  box-shadow:
    inset 0 1px 0 0 #405069,
    inset 0 -1px 0 0 #293449 
  ;

  background-color: #32425c;
  color: white;
}

.services-control label:hover,
.services-control label:focus {
  background-color: #293449;
}

.service-item {
  display: none;
  width: 420px;
  margin-top: 60px;
  margin-left: 320px;
}

.service-credit p {
  margin-bottom: 25px; 
}

.service-credit a {
  display: block;
  width: 195px;
  height: 38px;
  
  font-size: 14px;
  line-height: 38px;
  font-weight: 400;
}

.service-item h3 {
  margin-bottom: 30px;
  font-size: 36px;
  text-transform: uppercase;
  
  color: #32425c;
}

.service-delivery::before {
  content: 'Доставка';
  position: absolute;
  display: block;
  width: 218px;
  height: 62px;
  padding-left: 22px;
  bottom: 222px;
  left: 130px;

  font-size: 21px;
  line-height: 62px;
  text-align: left;
  
  background-color: white;
  color: #32425c;
}

.service-warranty::before {
  content: 'Гарантия';
  position: absolute;
  display: block;
  width: 218px;
  height: 62px;
  padding-left: 22px;
  bottom: 160px;
  left: 130px;

  font-size: 21px;
  line-height: 62px;
  text-align: left;
  
  background-color: white;
  color: #32425c;
}

.service-credit::before {
  content: 'Кредит';
  position: absolute;
  display: block;
  width: 218px;
  height: 62px;
  padding-left: 22px;
  bottom: 98px;
  left: 130px;

  font-size: 21px;
  line-height: 62px;
  text-align: left;
  
  background-color: white;
  color: #32425c;
}

.service-delivery::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 130px;
  width: 468px;
  height: 261px;
  background-image: url(/img/delivery.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.service-warranty::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 130px;
  width: 468px;
  height: 261px;
  background-image: url(/img/warranty.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.service-credit::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 130px;
  width: 465px;
  height: 285px;
  background-image: url(/img/credit.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.slider-radio:checked + div {
  display: block;
}

.about-us {
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 536px;
  padding: 82px 130px 0 130px;

  font-size: 14px;
  font-weight: 700;
}

.about-us-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 530px;
  height: 368px;
}

.map-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 300px;
  height: 368px;
}

.about-us h2,
.map-right b {
  margin: 0;

  font-size: 30px;
}

.about-us p {
  margin: 0;
  line-height: 20px;
}

.about-us-left p:nth-child(3) {
  width: 420px;
}

.map-right p {
  width: 180px;
}

.about-us .button-red {
  height: 38px;

  font-size: 14px;
  line-height: 38px;
}

.about-us-left .button-red {
  width: 220px;
}

.map-right .button-red {
  width: 300px;
  margin-top: 40px;
}

.about-us ul {
  margin: 0;
  padding: 0;
  
  font-size: 18px;

  list-style: none;
}

.about-us ul li {
  position: relative;
  margin: 12px 0px;
  padding-left: 36px;
}

.about-us svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}